@import '../../style/variables.scss';

$padding: 0.8em;

.rc-button {
  font-size: $font-size;
  user-select: none;
  touch-action: manipulation;
  outline: none;
  border: $border-width solid $border-color;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: $border-radius;
  height: $height;
  padding: 0 $padding;
  color: $text-color;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    color: $text-color-disabled;
    border-color: $gray-border;
    background-color: $gray-disabled;
  }

  > .rc-icon + span,
  > span + .rc-icon {
    margin-left: $padding;
  }
}

.rc-button--primary {
  background-color: $primary;
  color: white;
  border-color: $primary;

  &:hover:not(:disabled) {
    background-color: lighten($primary, 10%);
    border-color: lighten($primary, 10%);
  }

  &:focus:not(:disabled) {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
}

.rc-button--error {
  background-color: $error;
  color: white;
  border-color: $error;

  &:hover:not(:disabled) {
    background-color: lighten($error, 10%);
    border-color: lighten($error, 10%);
  }

  &:focus:not(:disabled) {
    background-color: darken($error, 10%);
    border-color: darken($error, 10%);
  }
}

.rc-button--success {
  background-color: $success;
  color: white;
  border-color: $success;

  &:hover:not(:disabled) {
    background-color: lighten($success, 10%);
    border-color: lighten($success, 10%);
  }

  &:focus:not(:disabled) {
    background-color: darken($success, 10%);
    border-color: darken($success, 10%);
  }
}

.rc-button--warning {
  background-color: $warning;
  color: white;
  border-color: $warning;

  &:hover:not(:disabled) {
    background-color: lighten($warning, 10%);
    border-color: lighten($warning, 10%);
  }

  &:focus:not(:disabled) {
    background-color: darken($warning, 10%);
    border-color: darken($warning, 10%);
  }
}

.rc-button--small {
  font-size: $font-size-for-small;
}

.rc-button--large {
  font-size: $font-size-for-large;
}
