@import '../../style/variables.scss';

.rc-switch {
  font-size: 0.65rem;
  position: relative;
  display: inline-flex;
  width: 4em;
  height: 2em;
}

.rc-switch--small {
  font-size: 0.5rem;
}

.rc-switch--large {
  font-size: 0.75rem;
}

.rc-switch__slider {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #cccccc;
  border-radius: 10em;
  box-shadow: 0 0 0 0.125em #cccccc;
  transition: 0.3s;

  &:before {
    position: absolute;
    content: "";
    height: 2em;
    width: 2em;
    background-color: white;
    border-radius: 10em;
    transition: 0.3s;
  }
}

.rc-switch__checkbox {
  opacity: 0;
  width: 0;
  height: 0;

  &:checked + .rc-switch__slider {
    background-color: $primary;
    box-shadow: 0 0 0 0.125em $primary;
    &:before {
      transform: translateX(100%);
    }
  }

  &:disabled + .rc-switch__slider {
    cursor: not-allowed;
  }
}
