$primary: #1890ff;
$primary-hover: #40a9ff;
$primary-focus: #40a9ff;
$primary-container-bg: #e6f7ff;

$success: green;
$success-hover: green;
$success-focus: green;
$success-container-bg: #f6ffed;

$warning: orange;
$warning-hover: orange;
$warning-focus: orange;
$warning-container-bg: #fffbe6;

$error: red;
$error-hover: red;
$error-focus: red;
$error-container-bg: #fff1f0;

$gray-border: #d9d9d9;
$gray-disabled: #f5f5f5;
$gray-bg: #d9d9d9;

$text-color: rgba(0, 0, 0, 0.65);
$text-color-disabled: rgba(0, 0, 0, 0.25);
$box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.15);
$box-shadow-primary: 0 0 0 0.125em rgba(24, 144, 255, 0.2);

$z-index-modal: 1000;
$z-index-dropdown: 10;
$z-index-tooltip: 10;

$query-sm: 576px;
$query-md: 768px;
$query-lg: 992px;
$query-xl: 1200px;
$query-xxl: 1600px;
