$primary: #1890ff;
$primary-hover: #40a9ff;
$primary-focus: #40a9ff;

$success: green;
$warning: orange;
$error: red;

$gray-border: #d9d9d9;
$gray-disabled: #f5f5f5;

$text-color: rgba(0, 0, 0, 0.65);
$text-color-disabled: rgba(0, 0, 0, 0.25);
$box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.15);

$z-index-modal: 1000;

$query-sm-max: 767px;

$query-md-min: 768px;
$query-md-max: 991px;

$query-lg-min: 992px;
$query-lg-max: 1199px;

$query-xl-min: 1200px;
$query-xl-max: 1919px;

$query-xxl-min: 1920px;
