@import '../../style/variables.scss';

.rc-select-option {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1.75em;
  background-color: white;
  color: $text-color;
  padding: 0.25em 0.5em;

  &:hover {
    background-color: $primary-container-bg;
  }
}

.rc-select-option--disabled {
  cursor: not-allowed;
  background-color: white;
  color: $text-color-disabled;

  &:hover {
    background-color: white;
    color: $text-color-disabled;
  }
}

.rc-select-option--selected {
  background-color: $primary-container-bg;

  &:after {
    content: "✓";
    position: absolute;
    right: 0.25em;
  }
}
