@import '../../style/variables.scss';

.rc-native-input {
  font-size: $font-size;
  outline: none;
  border: 0.0625em solid $gray-border;
  border-radius: $border-radius;
  height: $height;
  box-sizing: border-box;
  padding-left: 0.5em;
  padding-right: 0.5em;
  display: flex;
  align-items: center;
  color: $text-color;

  &:hover {
    border-color: $primary;
  }

  &:focus {
    border-color: $primary;
    box-shadow: $box-shadow-primary;
  }
}

.rc-native-input--small {
  font-size: $font-size-small;
}

.rc-native-input--large {
  font-size: $font-size-large;
}
