@import '../../style/variables.scss';

.rc-modal {
  position: relative;
  font-size: 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  z-index: $z-index-modal;
  min-width: 25em;
  min-height: 10em;
  border-radius: 0.5em;
  background-color: white;
  box-shadow: $box-shadow;
}

.rc-modal__close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.rc-modal__title {
  color: $text-color;
  font-weight: 500;
}

.rc-modal__title,
.rc-modal__content,
.rc-modal__footer {
  padding: 0.5em;
}
